@model ProjektPPiJ.Models.Achievements

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Achievements</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poruka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poruka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PutanjaSlike)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PutanjaSlike)
            <img src="~/@Model.PutanjaSlike" alt=@Model.Name class="img-circle" height="50"/>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AchievementID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
