@model IEnumerable<ProjektPPiJ.Models.Achievements>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Poruka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Achievements1.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Achievements2.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Poruka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Slika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Achievements1.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Achievements2.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AchievementID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AchievementID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AchievementID })
        </td>
    </tr>
}

</table>
