@model ProjektPPiJ.Models.TestViewModel


@{
    ViewBag.Title = "Evaluate";
}

<h2>
    <strong>Rješenja su provjerena i prikazani su točni rezultati.</strong><br />
    Za spremanje rezultat je potrebno kliknuti gumb <a href="#spremi">Spremi</a>
</h2>

<div class="row">
    @{int cnt = 0, score = 0;}

    @foreach (var item in Model.odgovori)
    {
        if (@Model.odgovori[cnt].tocanOdgovor.Equals(@Model.odgovori[cnt].ponudjeniOdgovor))
        {
            <div class="alert alert-dismissible alert-success">
                <div>@Html.DisplayFor(m => item.pitanje)</div>
                <strong>Točan odgovor:</strong> @Model.odgovori[cnt].tocanOdgovor <br />
                <strong>Ponuđeni Odgovor:</strong>  @Model.odgovori[cnt].ponudjeniOdgovor <br />
                <strong>Broj bodova:</strong>  @Model.odgovori[cnt].evaluate()/1 <br />
            </div>
        }
        else
        {
            <div class="alert alert-dismissible alert-danger">
                <div>@Html.DisplayFor(m => item.pitanje)</div>
                <strong>Točan odgovor:</strong> @Model.odgovori[cnt].tocanOdgovor <br />
                <strong>Ponuđeni Odgovor:</strong>  @Model.odgovori[cnt].ponudjeniOdgovor <br />
                <strong>Broj bodova:</strong>  @Model.odgovori[cnt].evaluate()/1 <br />
            </div>
        }

        <br />

        score += Model.odgovori[cnt].evaluate();
        ++cnt;
    }

    @{double perc = (double)score * 100 / cnt;}
    @if (perc > 50)
    {
        <div class="alert alert-dismissible alert-success">
            <h3><strong>Provjera položena!</strong></h3>
            <br />
            <strong>Bodovi:</strong>  @score/@cnt <br />
            <strong>Postotak rješenosti:</strong> @perc % <br />
        </div>
    }
    else
    {
        <div class="alert alert-dismissible alert-danger">
            <h3><strong>Provjera nije položena, za prolaz je potrebno preko 50%.</strong></h3>
            <br />
            <strong>Bodovi:</strong>  @score/@cnt <br />
            <strong>Postotak rješenosti:</strong> @perc % <br />
        </div>
    }
    <p>@Model.KategorijaID</p>
    <div class="pull-right" id="spremi">
        @Html.ActionLink("Spremi", "UpdateRezultata", "Rezultati",
        new
        {
            kategorijaID = Model.KategorijaID,
            username = User.Identity.Name,
            zasluzio = (100.0 - perc) < 1.0,
            nula = (perc - 0.0) < 1.0,
            rezultatVrijednost = perc
        }, new { @class = "btn btn-primary" })
    </div>
</div>
