@model ProjektPPiJ.Models.TestViewModel


@{
    ViewBag.Title = "Test";
}
<link href="~/Content/CountDown.css" rel="stylesheet" />
<img src="~/Content/jigsaw-puppet.png" alt="Saw puppet" class="img-circle" />
<h2 id="jigsaw">Let's play a game.</h2>


<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.countdown.js"></script>
<script src="~/Scripts/jquery.countdown.min.js"></script>


<div id="clock" class="text-right"></div>
<script type="text/javascript">
    $('#clock').countdown(new Date(new Date().getTime() + 1.5 * 60 * 1000), function (event) {
        var totalHours = event.offset.totalDays * 24 + event.offset.hours;
        $(this).html(event.strftime('%M min %S sec'));
        if (event.offset.minutes == 0 && event.offset.seconds == 0) {
            alert("Vrijeme rješavanja je isteklo!");
            document.getElementById("form").submit();
        }
    });
</script>

<div class="row">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
    {

        @Html.AntiForgeryToken()

        int cnt = 0;
        foreach (var item in Model.pitanja)
        {

            <div class="form-group">
                @Html.HiddenFor(m => Model.odgovori[cnt].pitanje, item.Pitanje)
                @Html.HiddenFor(m => Model.KategorijaID, Model.KategorijaID)
                @Html.HiddenFor(m => Model.odgovori[cnt].tocanOdgovor, item.TocanOdgovor)
            </div>

            Random rnd = new Random(Guid.NewGuid().GetHashCode());
            if (item.VrstaPitanja1.VrstaPitanja1.Equals("Ponuđeni odgovori"))
            {
                List<String> odgovori = new List<String>();
                odgovori.Add(item.TocanOdgovor);
                odgovori.Add(item.KriviOdgovor);
                odgovori.Add(item.KriviOdgovor2);
                odgovori.Add(item.KriviOdgovor3);

                odgovori = odgovori.OrderBy(it => rnd.Next()).ToList();

                <div class="form-group">
                    <div class="alert alert-dismissible alert-info">
                        <div><strong class="text-danger">@Html.DisplayFor(m => item.Pitanje)</strong></div>
                        <p><br /></p>
                        @for (int i = 0; i < 4; ++i)
                        {
                            <div>
                                <span>
                                    @Html.RadioButtonFor(m => Model.odgovori[cnt].ponudjeniOdgovor,
                                    odgovori[i], new { @checked = "checked" })
                                </span>
                                <span>@Html.DisplayFor(m => odgovori[i])</span>
                            </div>
                        }
                    </div>
                </div>
            }
            else if (item.VrstaPitanja1.VrstaPitanja1.Equals("Unos odgovora"))
            {
                <div class="form-group">
                    @Html.HiddenFor(m => Model.odgovori[cnt].tocanOdgovor, item.TocanOdgovor)
                    @Html.HiddenFor(m => Model.pitanja, item)
                    <div class="alert alert-dismissible alert-info">
                        <div><strong class="text-danger">@Html.DisplayFor(m => item.Pitanje)</strong></div>
                        <p><br /></p>
                        <div>
                            @Html.TextBoxFor(m => Model.odgovori[cnt].ponudjeniOdgovor);
                        </div>
                    </div>
                </div>
            }
            else if (item.VrstaPitanja1.VrstaPitanja1.Equals("Što je na slici"))
            {
                <div class="form-group">
                    @Html.HiddenFor(m => Model.odgovori[cnt].tocanOdgovor, item.TocanOdgovor)
                    @Html.HiddenFor(m => Model.pitanja, item)
                    <div class="alert alert-dismissible alert-info">
                        <div>
                            <strong class="text-danger">@Html.DisplayFor(m => item.Pitanje)</strong>
                            <img src="~/@item.KriviOdgovor" class="img-circle pull-right" height="165" />
                        </div>
                        <p>
                            <br /><br /><br /><br /><br />
                            @Html.TextBoxFor(m => Model.odgovori[cnt].ponudjeniOdgovor);
                            <br />
                        </p>
                    </div>
                </div>
            }
            else if (item.VrstaPitanja1.VrstaPitanja1.Equals("Više točnih"))
            {

                List<String> odgovori = new List<String>();
                odgovori.Add(item.TocanOdgovor);
                odgovori.Add(item.KriviOdgovor);
                odgovori.Add(item.KriviOdgovor2);
                odgovori.Add(item.KriviOdgovor3);

                odgovori = odgovori.OrderBy(it => rnd.Next()).ToList();

                <div class="form-group">
                    <div class="alert alert-dismissible alert-info">
                        <div><strong class="text-danger">@Html.DisplayFor(m => item.Pitanje)</strong></div>
                        <p><br /></p>
                        @for (int i = 0; i < 4; ++i)
                        {
                            <div>
                                <span>@Html.CheckBox("Odgovor", "Točno")</span>
                                <span>@Html.DisplayFor(m => odgovori[i])</span>
                            </div>
                        }
                    </div>
                </div>
            }

            ++cnt;
        }

        <div class="pull-right">
            @Html.ActionLink("Odustajem", "DajAchievement", "Achievements",
            new { username = User.Identity.Name, kategorijaID = 17 }, new { @class = "btn btn-default" })
        </div>

        <div class="form-group pull-right">
            <div class="col-md-offset-2 col-md-10">
                <input id="form" type="submit" value="Završi ispit" class="btn btn-default" />
            </div>
        </div>

    }

</div>

