@model IEnumerable<ProjektPPiJ.Models.Predmeti>

@{
    ViewBag.Title = "Index";
}

<h2>Index<small class="pull-right">Trenutno ima @Model.Max(m => m.PredmetID) predmeta</small></h2>

<p>
    @Html.ActionLink("Dodaj novi predmet", "Create")
</p>
<table class="table table-striped">
    <tr class="danger">
        <th>
            @Html.DisplayNameFor(model => model.PredmetName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PredmetName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PredmetID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PredmetID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PredmetID })
        </td>
    </tr>
}

</table>
