@model IEnumerable<ProjektPPiJ.Models.OstvareniAchievementi>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr class="danger">
        <th>
            @Html.DisplayNameFor(model => model.AchivementOstvaren)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Achievements.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserInfo.Username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AchivementOstvaren)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Achievements.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserInfo.Username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { userID = item.UserID, achievementID = item.AchievementID }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
