@model ProjektPPiJ.Models.UserInfo

@{
    ViewBag.Title = "User " + Html.DisplayFor(m => m.Username);
}

<h2>
    Dobro došao na svoju radnu površinu
    @Html.ActionLink("Odaberi arenu", "OdaberiPredmet", "Predmeti", null, new { @class = "btn btn-primary pull-right" })
</h2>
<div class="btn-toolbar">
    <div class="btn-group">
        <a href="#podaci" class="btn btn-default">Podaci o korisniku</a>
        <a href="#achievements" class="btn btn-default">Achievementi</a>
        <a href="#rezultati" class="btn btn-default">Ostvarenja u pojedinim kategorijama</a>
        <a href="#extras" class="btn btn-default">Dodatni sadržaj</a>
    </div>
</div>
<div id="podaci">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID })<br />
</p>
<h3>Achievementi</h3>
<div id="achievements" class="row">
    @foreach (var item in Model.OstvareniAchievementi)
    {
        if (item.AchivementOstvaren)
        {
            <div class="alert alert-dismissible alert-success col-md-3">
                <img src="~/@item.Achievements.PutanjaSlike" alt=@item.Achievements.Name class="img-circle center-block"
                     height="75" />
                <div class="text-center">
                    <strong>
                        @Html.DisplayFor(m => item.Achievements.Name)
                    </strong>
                </div>
                <div class="text-center">
                    @Html.DisplayFor(m => item.Achievements.Poruka)
                </div>
            </div>
            <div class="col-md-1"></div>
        }
        else
        {
            <div class="alert alert-dismissible alert-danger col-md-3 text-muted ">
                <img src="~/@item.Achievements.PutanjaSlike" alt=@item.Achievements.Name class="img-circle center-block"
                     height="75" />
                <div class="text-center">
                    <strong class="text-center text-muted">
                        @Html.DisplayFor(m => item.Achievements.Name, new { @class = "text text-center" })
                    </strong>
                </div>
                <div class="text-center text-muted">
                    @Html.DisplayFor(m => item.Achievements.Poruka)
                </div>
            </div>
            <div class="col-md-1"></div>
        }
        
    }
</div>

<h3>Rezultati po kategorijama</h3>

<div id="rezultati" class="row alert alert-info ">
    @foreach (var item in Model.Rezultati)
    {
        if (item.KategorijaID != 16 && item.KategorijaID != 17)
        {
            <h4>@Html.DisplayFor(model => item.Kategorije.KategorijaName)</h4>
            <table class="table table-striped info">
                <tr class="danger">
                    <th>
                        Najbolji Rezultat
                    </th>
                    <th>
                        Zadnji Rezultat
                    </th>
                </tr>
                <tr>
                    <td>
                        @item.NajboljiRezultat
                    </td>
                    <td>
                        @item.ZadnjiRezultat
                    </td>
                </tr>
            </table>
        }
    }
</div>

<div id="extras" class="row">
    @if (Model.UserType)
    {
        <h3>Extras</h3>
        <div class="btn-toolbar">
            <div class="btn-group">
                @Html.ActionLink("Pregledaj dostupna pitanja", "Index", "Pitanja", null,
                    new { @class = "btn btn-primary" })
                @Html.ActionLink("Pregledaj dostupne achievemente", "Index", "Achievements", null,
                    new { @class = "btn btn-primary" })
                @Html.ActionLink("Pregledaj sve korisnike", "Index", "UserInfo", null,
                    new { @class = "btn btn-primary" })
                @Html.ActionLink("Pregledaj sve kategorije", "Index", "Kategorije", null,
                    new { @class = "btn btn-primary" })
                @Html.ActionLink("Pregledaj sve predmete", "Index", "Predmeti", null,
                    new { @class = "btn btn-primary" })
            </div>
        </div>
    }
</div>