@model IEnumerable<ProjektPPiJ.Models.Kategorije>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KategorijaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Predmeti.PredmetName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KategorijaName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Predmeti.PredmetName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KategorijaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KategorijaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KategorijaID })
        </td>
    </tr>
}

</table>
